<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiong.shop.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xiong.shop.entity.SysMenu">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="ename" property="ename"/>
        <result column="url" property="url"/>
        <result column="icon" property="icon"/>
        <result column="parent_id" property="parentId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, ename, url, icon, parent_id, create_time, update_time, del_flag
    </sql>

    <select id="selectMenuListByUserId" resultType="com.xiong.shop.entity.SysMenu">
        SELECT
            sm.*
        FROM
            sys_user_role sur
            JOIN sys_role_menu srm ON sur.role_id = srm.role_id
            JOIN sys_menu sm ON sm.id = srm.menu_id
        WHERE
            sur.user_id = 1
            AND sur.del_flag = 0
            AND srm.del_flag = 0
            AND sm.del_flag = 0
    </select>

</mapper>
